@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    /* ### Primary */

    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    /* ### Neutral */

    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}


body {
    font-family: 'Red Hat Display', sans-serif;
    background: url(../images/pattern-background-mobile.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: var(--Pale-blue);
}

#mainDiv {
    width: 20.5em;
    height: 35.56em;
    display: flex;
    align-items:initial;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 4.375em auto;
    border-radius: 1.25em;
    text-align: center;
    box-shadow: 0px 1em 4em var(--Desaturated-blue);
}

#image {
    height: 10.4em;
    width: inherit;
    padding: 0;
}

#pattern {
    width: inherit;
    height: inherit;
    border-radius: 1.3em 1.3em 0 0;
}

#title {
    margin-bottom: 0;
    color: var(--Dark-blue);
}

#para {
    font-size: 1em;
    padding: 1.5em 2.05em;
    margin: 0;
}

#subDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15.625em;
    background-color:var(--Very-pale-blue);
    padding: 0.9375em;
    margin: 0 1.5625em;
    margin-top: .9em;
    margin-bottom: 1.5em;
    border-radius: .625em;
}

#AnnualPlan {
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-size: .8125em;
    color: var(--Dark-blue);
    padding-right: 2.5em;
}

#changeLink{
    font-weight: 700;
    color: var(--Bright-blue);
    font-size: .75em;
}

#changeLink:hover {
    color: var(--Desaturated-blue);
    text-decoration: none;
    cursor: pointer;
}

#musicSVG{
    margin-left: 0;
}

#price {
    font-weight: 500;
    color: var(--Desaturated-blue);
}

#button {
    font-family: 'Red Hat Display', sans-serif;;
    width: 17.5em;
    height: 3.25em;
    border-radius: .75em;
    margin: 0 1.5625em;
    margin-bottom: 1.5em;
    font-weight: 700;
    font-size: 1em;
    border: 0em;
    color: white;
    background-color: var(--Bright-blue);
    box-shadow: 0px 1.5em .75em var(--Pale-blue);
}

#button:hover {
    background-color: var(--Desaturated-blue);
    cursor: pointer;
}

#cancel {
    margin-bottom: 2.25em;
    font-weight: 700;
    color: var(--Desaturated-blue);
}